.bx-wrapper {
    border: none;
    box-shadow: none;
    margin-bottom: 0px;

}

.bx-wrapper .bx-pager.bx-default-pager a {

    background: rgba(43, 41, 45, 0.3);
    width: 15px;
    border-radius: 50%;

}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
    background: #3142C5;
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
    bottom: 0;
}