body {
    font-family: 'Open Sans', sans-serif;


}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

.header {
    margin: 53px 0;
}

.nav__ul {
    text-align: center;
}

.nav__li {
    display: inline-block;
}

.nav__li:not(:last-of-type) {
    margin-right: 45px;
}

.nav__link {
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}

.background {
    text-align: center;
    background-image: url("../img/imeges.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.background__title {
    font-weight: 700;
    font-size: 72px;
    line-height: 98px;
    color: #FFFFFF;
    padding: 138px 0 14px;
}

.background__button {
    width: 420px;
    height: 70px;
    margin-bottom: 177px;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    color: #162C38;
}

.description {
    text-align: center;
    padding: 133px 0;
    background: rgba(26, 110, 136, 0.71);



}

.description__text {
    max-width: 736px;
    font-size: 36px;
    line-height: 49px;
    color: #FFFFFF;
    margin: 0 auto;


}




.paragraph {
    position: relative;
}


.paragraph__list {
    padding-top: 221px;
}

.paragraph__item {
    padding-top: 216px;
    margin-bottom: 123px;
}

.paragraph__square-tex,
.paragraph__circle-text {
    max-width: 696px;
    margin: 0 auto;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #000000;
}

.square {
    width: 178px;
    height: 121px;
    background: #BFDEFB;
    position: absolute;
}

.square1 {
    left: 0;
    top: 100px;
}

.square2 {
    left: 0;
    top: 346px;
}

.square3 {
    right: 0;
    top: 235px;
}

.paragraph__circle-text {
    position: relative;
}

.paragraph__circle-text::before {
    content: '';
    position: absolute;
    width: 58px;
    height: 58px;
    border-radius: 50%;
    background: #5C98AB;
    left: 0px;
    transform: translate(-50%, -100%);

}

.paragraph__circle-text::after {
    content: '';
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #BFDEFB;
    right: -150px;
    bottom: -70px;

}

.form__section {
    max-width: 647px;
    margin: 123px auto 123px;
}

.input__wrapper {
    position: relative;
    margin-bottom: 41px;
}

.input {
    width: 100%;
    height: 96px;
    padding: 36px 0 11px 31px;
    border: 1px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
}

.label {
    position: absolute;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    left: 31px;
    top: 14px;

}

.input::placeholder,
.input {

    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
    color: #000000;

}



.form__button {
    width: 100%;
    height: 92px;
    background: #5C98AB;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    color: #FFFFFF;
    border: none;
}